package ${package}.${moduleName}.entity;

import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import lombok.Data;

#if(${hasBigDecimal})
#end

/**
 * @Description ${comments}
 * @Author ${author}
 * @Date  ${datetime}
 */
@Data
@TableName("${tableName}")
public class ${className} extends Model<${className}> {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if("$!column.comments" != "")
	/**
	 * $column.comments
	 */
#end
#if("$!column.comments" != "")
#end
#if($column.columnName == $pk.columnName)
	@TableId
#elseif($column.columnName != $column.attrname)
	@TableField("$column.columnName")
#end
	private $column.attrType $column.attrname;
#end

}
